html, body {
    height: 100%;
    margin: 0;
   overflow-y: auto;
}

.background-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: 0;
    transition: opacity 0.5s ease-in-out; 
    opacity: 1; 
}

.banners-section {
  background: url('./images/light_blue_color_ice_4k_5k_hd_light_blue-3840x2160.jpg') center/cover no-repeat;

}


.fixed-content {
    position: relative; 
    z-index: 10;
}

p {
    color: white; 
}

/* --------------------------------------- GLASS PANEL -------------------------------------------- */
.glass-panel{
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16.2px);
    -webkit-backdrop-filter: blur(16.2px);
    border: 1px solid rgba(255, 255, 255, 0.49);
}

/* --------------------------------------- FROSTED GLASS PANEL--------------------------------------------- */
.glass-panel-frosted{
  background: rgba(255, 255, 255, 0.48);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.7px);
  -webkit-backdrop-filter: blur(12.7px);
  border: 1px solid rgba(255, 255, 255, 0.24);
}
/* --------------------------------------- BLACK GLASS PANEL --------------------------------------------- */
.glass-panel-black{
  background: rgba(20, 20, 20, 0.38);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  border: 1px solid rgba(20, 20, 20, 0.2);
}

/* --------------------------------------- DIRTY GLASS PANEL --------------------------------------------- */
.glass-panel-dirty{
  background: rgba(139, 128, 128, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  border: 1px solid rgba(139, 128, 128, 0.2);
}

/* -------------------------------------- GLASS DANGER PANEL ----------------------------------------------- */
.glass-panel-danger{
  background: rgba(217, 64, 64, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.3px);
  -webkit-backdrop-filter: blur(4.3px);
  border: 1px solid rgba(217, 64, 64, 0.72);
}

/* -------------------------------------- GLASS WARNING PANEL ---------------------------------------------- */
.glass-panel-warning{
  background: rgba(217, 173, 64, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.3px);
  -webkit-backdrop-filter: blur(4.3px);
  border: 1px solid rgba(217, 173, 64, 0.72);
}

/* -------------------------------------- GLASS INFO PANEL ------------------------------------------------- */
.glass-panel-info{
  background: rgba(64, 86, 217, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.3px);
  -webkit-backdrop-filter: blur(4.3px);
  border: 1px solid rgba(64, 86, 217, 0.72);
}

/* -------------------------------------- FROSTED GLASS INFO PANEL ------------------------------------------------- */
.glass-panel-info-frosted{
  background: rgba(64, 86, 217, 0.79);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.3px);
  -webkit-backdrop-filter: blur(4.3px);
  border: 1px solid rgba(64, 86, 217, 0.72);
}

/* -------------------------------------- FROSTED GLASS WARNING PANEL ------------------------------------------------- */
.glass-panel-warning-frosted{
  background: rgba(217, 173, 64, 0.79);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.3px);
  -webkit-backdrop-filter: blur(4.3px);
  border: 1px solid rgba(217, 173, 64, 0.72);
}

/* -------------------------------------- FROSTED GLASS DANGER PANEL ------------------------------------------------- */
.glass-panel-danger-frosted{
/* From https://css.glass */
background: rgba(217, 64, 64, 0.69);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.4px);
-webkit-backdrop-filter: blur(7.4px);
border: 1px solid rgba(217, 64, 64, 0.72);
}
/* -------------------------------------- GLASS BUTTONS ---------------------------------------------- */
.btn-glass-primary{
    background: rgba(255, 255, 255, 0.335);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16.2px);
    -webkit-backdrop-filter: blur(16.2px);
    border: .5px solid rgba(255, 255, 255, 0.49);
    color: white;
    transition: background 0.3s ease, box-shadow 0.3s ease; 
}

.btn-glass-primary:hover {
  background: rgba(255, 255, 255, 0); 
  box-shadow: 0 6px 35px rgba(0, 0, 0, 0.2); 
}
.btn-glass-secondary{
    background: rgba(255, 255, 255, 0.133);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16.2px);
    -webkit-backdrop-filter: blur(16.2px);
    border: 2px solid rgba(255, 255, 255, 0.49);
    color: white;
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.btn-glass-secondary:hover {
  background: rgba(255, 255, 255, 0); 
  box-shadow: 0 6px 35px rgba(0, 0, 0, 0.2); 
}

.btn-glass-primary-frosted {
    position: relative;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.233); 
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.2px);
    -webkit-backdrop-filter: blur(11.2px);
    border: 1px solid rgba(255, 255, 255, 0.24);
    color: white;
    transition: transform 0.2s ease;
    z-index: 1; 
}


.btn-glass-primary-frosted::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0); 
    border-radius: inherit;
    transition: background 0.3s ease;
    z-index: -1; 
}


.btn-glass-primary-frosted:hover::after {
    background: rgba(0, 0, 0, 0.25); 
}

.btn-glass-secondary-frosted {
    background: rgba(174, 168, 168, 0.59);        
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 2px solid rgba(255, 255, 255, 0.35); 
    color: white;
    transition: transform 0.2s ease, background 0.3s ease, box-shadow 0.3s ease;
}

.btn-glass-secondary-frosted:hover {
    box-shadow: 0 6px 35px rgba(98, 95, 95, 0.12);
    background: rgba(0, 0, 0, 0.2);
}

/* ------------------------------- PRIMARY BUTTON ERISA COLORS  ----------------------------------- */

.btn-glass-eg{
    background: rgba(61, 159, 68, 0.619);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.8px);
    -webkit-backdrop-filter: blur(9.8px);
    border: 1px solid rgba(60, 156, 67, 0.49);
    transition: background 0.3s ease, box-shadow 0.3s ease;
    color: white;
}

.btn-glass-eg:hover {
  background: rgba(61, 159, 68, 0.4); 
  backdrop-filter: blur(14px); 
  -webkit-backdrop-filter: blur(14px);
  /* box-shadow: 0 6px 35px rgba(61, 159, 68, 0.25); */
}

.btn-glass-eb{
  background: rgba(20, 63, 221, 0.6);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.2px);
  -webkit-backdrop-filter: blur(11.2px);
  border: 1px solid rgba(20, 63, 221, 0.24);
  transition: background 0.3s ease, box-shadow 0.3s ease;
  color: white;
}

.btn-glass-eb:hover {
  background: rgba(20, 63, 221, 0.4); 
  backdrop-filter: blur(14px); 
  -webkit-backdrop-filter: blur(14px);
  /*box-shadow: 0 6px 35px rgb(0, 0, 124); */
}

.btn-glass-eg-frosted{
    background: rgba(54, 164, 50, 0.81);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    border: 1px solid rgba(54, 164, 50, 0.24);
    transition: background 0.3s ease, box-shadow 0.3s ease;
    color: white;
}

.btn-glass-eg-frosted:hover {
  background: rgba(40, 110, 45, 0.4); 
  backdrop-filter: blur(14px);     
  -webkit-backdrop-filter: blur(14px);
  box-shadow: 0 6px 35px rgba(40, 110, 45, 0.25); 
}

.btn-glass-eb-frosted{
  background: rgba(58, 94, 232, 0.81);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.1px);
  border: 1px solid rgba(58, 94, 232, 0.24);
  transition: background 0.3s ease, box-shadow 0.3s ease;
  color: white;
}

.btn-glass-eb-frosted:hover {
  background: rgba(40, 66, 110, 0.4); 
  backdrop-filter: blur(14px);     
  -webkit-backdrop-filter: blur(14px);
  box-shadow: 0 6px 35px rgba(40, 110, 45, 0.25); 
}

/* ------------------------------------- SECONDARY BUTTONS ---------------------------------------- */

.btn-glass-danger{
  background: rgba(255, 10, 10, 0.47);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
  border: 1px solid rgba(255, 10, 10, 0.48);
  transition: background 0.3s ease, box-shadow 0.3s ease;
  color: white;
}
.btn-glass-danger:hover {
  background: rgba(255, 10, 10, 0.095); 
  backdrop-filter: blur(14px); 
  -webkit-backdrop-filter: blur(14px);
  /* box-shadow: 0 8px 50px rgba(225, 10, 10, 0.4); */
}

.btn-glass-danger-frosted{
  background: rgba(255, 10, 10, 0.87);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.7px);
  -webkit-backdrop-filter: blur(2.7px);
  border: 1px solid rgba(255, 10, 10, 0.19);
  transition: background 0.3s ease, box-shadow 0.3s ease;
  color: white;
}

.btn-glass-danger-frosted:hover {
  background: rgba(255, 10, 10, 0.319); 
  backdrop-filter: blur(14px);     
  -webkit-backdrop-filter: blur(14px);
  box-shadow: 0 6px 35px rgba(40, 110, 45, 0.25); 
}

/* --------------------------------------- TEXT COLORS ------------------------------------------- */

.danger-text {
  color: rgb(142, 0, 26);
}

.warning-text{
  color: rgb(223, 157, 34)
}

.info-text{
  color: rgb(10, 17, 152)
}

.warning-text-frosted{
  color: rgb(198, 139, 2)
}